
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registros no Banco MongoDB.Luciano</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1 class="page-header">Registros no MongoDb</h1>
  <div class="table-responsive">

    <table class="table table-hover table-bordered ">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Url</th>
            <th scope="col">Body</th>
            <th scope="col">Retorno</th>
            <th scope="col">DataHora</th>
        </tr>
        </thead>
        <tbody>

            <% var ncont = 0 %>
            <% registros.forEach(function(valor){  %>             

                <% ncont++  %>
            <tr>
                <th scope="row"><%= valor._id%></th>
                <td><%= valor.url%></td>
                <td><%= valor.body%></td>
                <td><%= valor.resposta%></td>
                <td><%= valor.datetime%></td>
            </tr>

            <% })%>      


        </tbody>
    </table>

</div>
</div>
<div class="container">
 &copy; 2018 - JS Developer
</div>

</body>
</html>